<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.phonegap.example"
        version     = "3.6.3" >

    <!-- versionCode is optional and Android only -->
    <icon src="initials.png" />
    <name>Resume for Eric L. Epps</name>

    <description>
        A resume app for Eric L. Epps. 
    </description>

    <author href="https://build.phonegap.com" email="support@phonegap.com">
        Eric L. Epps 
    </author>
    
    <preference name="androidSdkVersion" value="14"/>
	<preference name="fullscreen" value="true" />


</widget>
